[submodule "common"]
	path = common
	url = https://github.com/HinaPE/common.git
[submodule "physics-engine/rigidbody-engine/hina-rigidbody"]
	path = physics-engine/rigidbody-engine/hina-rigidbody
	url = https://github.com/HinaPE/HinaRigidBody.git
[submodule "render-engine/kasumi-legacy"]
	path = render-engine/kasumi-legacy
	url = https://github.com/HinaPE/Kasumi-legacy.git
[submodule "render-engine/kasumi-2.0"]
	path = render-engine/kasumi-2.0
	url = https://github.com/HinaPE/Kasumi-renderer.git
