[submodule "deps/win"]
	path = deps/win
	url = https://github.com/BFU-Graphics/Hina_winSDL2.git
[submodule "deps/glad"]
	path = deps/glad
	url = https://github.com/BFU-Graphics/Hina_glad.git
[submodule "deps/sf_libs"]
	path = deps/sf_libs
	url = https://github.com/BFU-Graphics/Hina_sf_libs.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/BFU-Graphics/Hina_imgui.git
[submodule "deps/nfd"]
	path = deps/nfd
	url = https://github.com/BFU-Graphics/Hina_nfd.git
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/BFU-Graphics/Hina_assimp.git
